{% load static %}
    <br><br>
    <br><br>
    <br><br>
    <br><br>

<footer class="section-p1 " style="margin-top: 50px;" >

<div class="row" style="font-size: small; text-align: center;padding: 0 20%;">
      <div class="col">
    <p>Address:  Beni Suef</p>
    <p><strong>Work Hours:</strong> 9:00 to 15:00</p>

  </div>

    <div class="col " >
        <span >Phone: 01121548856</span>
        <span >E-mail: pathologydep@gmail.com</span>
    </div>
</div>
    <div class="copyright pt-0 mt-0">
    <p>@Copy Rights 2022 </p>
    </div>
</footer>